@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url('background.jpg');
    background-repeat: no repeat;
    background-size: cover;
    z-index: -1;
    filter:blur(5px) saturate(100%) brightness(75%);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.content p {
    position: fixed;
    left: 33%;
    font-size: 25px;
    color: #000000;
    width: 750px;
    height: auto;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    z-index: 99;
    color: #fff;
}

.title {
    left: 40%;
    position: fixed;
    text-align: center;

}

.title h1 {
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    color: black;
    text-shadow: aqua;
}




.logo {
    position: fixed;
    width: 20%; 
    height: 20%;
    left: 0px;
    margin-top: 70px;
}

.navigation {
    position: absolute;
    align-items: right;
    margin-left: 1300px;
}
.navigation a {
    position: relative;
    align-items: right;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: right;
    transform: scaleX(1);
}


.social-buttons a {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    background: transparent;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
    margin: 0 8px;
    z-index: 1;
    text-align: center;
    line-height: 45px;
    transition: .3s;
}

.social-buttons a:hover{
    background: rgb(63, 9, 126);
    transform: rotate(135deg);
    box-shadow: 0 0 5px rgb(63, 9, 126), 0 0 10px rgb(63, 9, 126);
}


.social-buttons a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background: #929498;
    z-index: -1;
}

.social-buttons a i {
    font-size: 18px;
    color: #000;
    transition: .3s;
}

.social-buttons a i:hover {
    transform: rotate(225deg);
    color: rgb(63, 9, 126);

}


footer {
    text-align: center;
    padding: 2rem;
    position: fixed;
    bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}
